{% extends 'base.html' %} 
{% block content %}
<h1 class="header__css">About</h1>
<h2 class="about__header">Combining eCommerce with Social Media.</h2>

<img class="dripsy__logo" src="https://imgur.com/ogxZvVZ.jpg" alt="dripsy logo"/>

<p class="about__content">
    Bringing diversity in fashion together. <br/>
    Dripsy is all about connecting your outfits to the world. <br/>
    From top to bottom, this platform is to provide a avenue to show off your style. <br/>
    We're connecting like-minded people to cultivate youthful fashion trends globally. <br/>
    If you're looking to explore unique clothing this is where to go. <br/>
    <em>Attire. Style. Drip.</em>
</p>

<p class="about__content">
    Founded in 2021. <br/>
    By Josh Daos.<br/> 
    A Software Engineer from SEI WC322.
</p>


<p class="about__content">
    Technologies Used: <br/>
    Django<br/> 
    Python<br/> 
    PostgreSQL<br/> 
    CSS<br/> <br/> 
    Tools Used:<br/> 
   <a class="link__color" href="https://git.generalassemb.ly/joshdaos/Dripsy/tree/josh">Github<br/></a>
   <a class="link__color" href="https://www.notion.so/8eaece1b133047ef970861daa92868ef?v=c05e3a265b0f4259807d7d8287a320ff">Notion<br/></a>
   <a class="link__color" href="https://joshdaos986755.invisionapp.com/freehand/Dripsy-Wireframe--Userflow--3dI0qyuh5">Invision<br/></a>
    Draw.io<br/> 
</p>


<p class="about__content">
    Site Inspirations: <br/>
    <a class="link__color" href="https://www.depop.com/">depop<br/></a>
    <a class="link__color" href="https://www.urbanoutfitters.com/">Urban Outfitters<br/></a>
</p>


    <footer class="footer__links">
        <a class="josh-link" href="https://www.linkedin.com/in/joshua-daos/">
        <i class="fab fa-linkedin"></i>
        </a>
        
        <a class="josh-link" href="https://git.generalassemb.ly/joshdaos">
        <i class="fab fa-github-square"></i>
        </a>
    </footer>

{% endblock %}