{% extends 'base.html' %} 
{% block content %}
<div class="home-container"></div>
<a href="/feed"><h1 class="home">Dripsy Home</h1></a>
<div class="video__content">
    <video playsinline autoplay muted loop>
        <source src="/static/videos/pexels-yaroslav-shuraev-7644379.mp4" type="video/mp4">
    </video>
</div>
<div class="josh__links">
    <footer>
        <a class="josh-link" href="https://www.linkedin.com/in/joshua-daos/">
        <i class="fab fa-linkedin"></i>
        </a>

        <a class="josh-link" href="https://git.generalassemb.ly/joshdaos">
        <i class="fab fa-github-square"></i>
        </a>
    </footer>
</div>
</div>
{% endblock %}