{% extends 'base.html' %} 
{% block content %}
<h1 class="profile_title">{{user.username}}'s Profile</h1>
<div class="profile_container">
    <div class="gallery">
        <a href="">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img class="profileimage" src="{{profile.image}}" alt="{{profile.name}}" />
                    </figure>
                </div>
            </div>
        </a>
    </div>
    <div class="card-header">
        <ul>
            <li class="card-header-title">{{profile.name}}</li>
            <li class="card-header-title">Bio: {{profile.bio}}</li>
        </ul>
        <div class="buttons">
            <a href="{% url 'profile_update' profile.pk %}" class="button is-info">
                <span class="icon">
                    <i class="fas fa-user-edit"></i>
                </span>
            </a>
        </div>
    </div>
    </div>
</div>

<div class="product">
    <!-- <h3>Products</h3> -->
    <form class="mb-5" action="{% url 'product_create' profile.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
          <div class="control">
            <input
              class="input"
              type="text"
              name="name"
              placeholder="Title"
              required
            />
          </div>
          <div class="control">
            <input
              class="input"
              type="number"
              name="sku"
              placeholder="SKU #"
              required
            />
          </div>
          <div class="control">
            <input
              class="input"
              type="text"
              name="description"
              placeholder="Description"
              required
            />
          </div>
          <div class="control">
            <input
              class="input"
              type="text"
              name="image"
              placeholder="Image"
              required
            />
          </div>
          <div class="select is-primary">
            <select name="size">
              <option>Select Size</option>
              <option value="SMALL">Small</option>
              <option value="MEDIUM">Medium</option>
              <option value="LARGE">Large</option>
            </select>
          </div>
          <div class="control">
            <input class="button is-primary" type="submit" value="Add Product" />
          </div>
        </div>
      </form>
      <h2>Products</h2>
    {% for product in profile.products.all %}
    <div class="gallery-image">
        <a class="product-link" href="{% url 'product_detail' product.pk %}">
        <li><b class="product-title">{{product.name}}</b></li>
        </a>
        <img class="product-image" src="{{product.image}}" alt="{{profile.name}}" />
        <a href="{% url 'product_delete' product.pk %}" class="button is-danger">
          <span class="icon">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
        <div class="buttons">
          <a href="{% url 'product_update' product.pk %}" class="button is-info">
              <span class="icon">
                <i class="far fa-edit"></i>
              </span>
          </a>
      </div>
    </div>
    {% empty %}
    <h3>No Products In Stock Yet</h3>
    {% endfor %}
</div>


{% endblock %}