{% extends 'base.html' %} 
{% block content %}
<h1 class="header__css">Your Feed</h1>
{% for product in profile.products.all %}
<div class="gallery-image">
    <a class="product-link" href="{% url 'product_detail' product.pk %}">
    <b class="product-title">{{product.name}}</b>
    <img class="product-image" src="{{product.image}}" alt="{{profile.name}}" />
    <b class="product-title">Seller: {{user.username}}</b>
    </a>
    <!-- <a href="/profile" id="seller__title" class="product-title">Seller: {{user.username}}</a> -->
</div>
{% empty %}
<h3>No Products In Stock Yet</h3>
{% endfor %}
{% endblock %}